.news-hero {
   width: 100%;
  height: 300px;
  background: url("https://th.bing.com/th/id/OIP.reHVsFaRL_blfVcdRo0EDwHaHa?w=158&h=180&c=7&r=0&o=7&dpr=1.1&pid=1.7&rm=3");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  position: relative;
}

.news-hero::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,0.55);
}

.hero-content {
  position: relative;
  color: #fff;
  text-align: center;
  z-index: 2;
}

.hero-content h1 {
  font-size: 48px;
  margin-bottom: 8px;
}

.hero-content p {
  font-size: 15px;
  opacity: 0.9;
}


.news-wrapper {
  display: grid;
  grid-template-columns: 280px 1fr;
  gap: 40px;
  padding: 70px 80px;
  background:white;
}


.news-sidebar h3 {
  font-size: 22px;
  margin-bottom: 20px;
}

.news-sidebar ul {
  list-style: none;
}

.news-sidebar li {
  padding: 14px 0;
  border-bottom: 1px solid #eee;
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  cursor: pointer;
}


.news-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  background-color: white;
}

.news-card {
  border-radius: 14px;
  overflow: hidden;
}

.news-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  background-color: white;
}



.footer {
  background: linear-gradient(180deg, #061a2f, #041423);
  color: #fff;
  padding: 70px 80px 0;
  position: relative;
}


.footer-top {
  display: grid;
  grid-template-columns: 1.3fr 1fr 1fr 1.5fr;
  gap: 50px;
  padding-bottom: 50px;
}

.footer-col h3 {
  margin-bottom: 20px;
  font-size: 20px;
}

.footer-col p {
  font-size: 15px;
  line-height: 1.8;
  color: #d0d7df;
}

.logo {
  font-size: 28px;
  letter-spacing: 3px;
  margin-bottom: 20px;
  display: inline-block;
  border-bottom: 2px solid #fff;
  padding-bottom: 6px;
}


.footer-col ul {
  list-style: none;
}

.footer-col ul li {
  margin-bottom: 14px;
  font-size: 15px;
  color: #d0d7df;
  cursor: pointer;
}


.subscribe-box {
  margin-top: 20px;
  display: flex;
  background: #fff;
  border-radius: 40px;
  overflow: hidden;
}

.subscribe-box input {
  flex: 1;
  border: none;
  padding: 16px 20px;
  font-size: 15px;
  outline: none;
}

.subscribe-box button {
  border: none;
  background: transparent;
  padding: 0 25px;
  color: #c89d5a;
  font-size: 15px;
  cursor: pointer;
  border-left: 1px solid #ddd;
}

.footer-bottom {
  border-top: 1px solid rgba(255,255,255,0.2);
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-bottom p {
  font-size: 14px;
  color: #d0d7df;
}

.payments img {
  height: 26px;
  margin-left: 10px;
}


.scroll-top {
  position: absolute;
  right: 30px;
  bottom: 30px;
  background: #0b2239;
  color: #fff;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-size: 18px;
}
